@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

.app {
  display: flex;
  font-family: 'Salsa', cursive;
  min-height: 100vh;
  max-width: 100vw;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}
